{% extends "_base.html" %}

{% from 'form_field_macros.html' import form_field %}

{% block title %} Sign Up {% endblock %}

{% block content %}

<form action="" method="post" class="was-validated" novalidate>
    {{ form.hidden_tag() }}
    
    {{ form_field(form.username) }}

    {{ form_field(form.password) }}

  <div class="form-group">
      {{ form.remember_me.label }}
      {{ form.remember_me (class="form-control") }}
  </div>

    {{ form.submit(class="btn btn-dark") }}

</form>

{% endblock %}